<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
    <form method="post" th:action="@{/admin/save(page=${page}, keyword=${keyword})}">
        <div>
            <label>Id</label>
            <input type="text" class="form-control" name="id" th:value="${patient.getId()}">
        </div>
        <div>
            <label>Nom</label>
            <input type="text" class="form-control" name="nom" th:value="${patient.getNom()}">
        </div>
        <div>
            <label>Date Naissance</label>
            <input type="Date" class="form-control" name="datenaissance" th:value="${patient.getDatenaissance()}">
        </div>
        <div>
            <label>Score</label>
            <input type="text" class="form-control" name="score" th:value="${patient.getScore()}">
        </div>
        <div>
            <label>IsMalade</label>
            <input type="checkbox" name="malade" th:checked="${patient.malade}">
        </div>
        <button type="submit" class=" btn btn-primary">save</button>
    </form>
    </div>
</div>
</body>
</html>